<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextu.dao.ClientsRegistersMapper">
  <resultMap id="BaseResultMap" type="com.nextu.model.ClientsRegisters">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="client_register_id" jdbcType="BIGINT" property="clientRegisterId" />
    <result column="client_number" jdbcType="VARCHAR" property="clientNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="relevant_certificate" jdbcType="VARCHAR" property="relevantCertificate" />
    <result column="individual_resume" jdbcType="VARCHAR" property="individualResume" />
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
  </resultMap>
</mapper>