<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextu.dao.ClientsLivesMapper">
  <resultMap id="BaseResultMap" type="com.nextu.model.ClientsLives">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="client_live_id" jdbcType="BIGINT" property="clientLiveId" />
    <result column="client_number" jdbcType="VARCHAR" property="clientNumber" />
    <result column="live_room_number" jdbcType="BIGINT" property="liveRoomNumber" />
    <result column="live_room_people" jdbcType="BIGINT" property="liveRoomPeople" />
  </resultMap>
</mapper>