<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextu.dao.LiveRoomsMapper">
  <resultMap id="BaseResultMap" type="com.nextu.model.LiveRooms">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="live_room_id" jdbcType="BIGINT" property="liveRoomId" />
    <result column="live_room_number" jdbcType="BIGINT" property="liveRoomNumber" />
    <result column="theme" jdbcType="VARCHAR" property="theme" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="show_picture" jdbcType="VARCHAR" property="showPicture" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
  </resultMap>
</mapper>